<!--<%#= render 'flash_messages' %>-->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          あなたのプロフィール
        </div>
        <div class="card-body">
          <div class="row mb-4">
            <!-- 1つ目のカード -->
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <% if @user.image.attached? %>
                      <%= image_tag @user.image, class: "user-icon mr-3" %>
                    <% end %>
                    <h5 class="user-name mb-0">
                      <%= @user.first_name %> <%= @user.last_name %>
                    </h5>
                  </div>
            
                  <% if current_user == @user %>
                    <p><strong>メールアドレス:</strong> <%= @user.email %></p>
            
                    <%= form_with(model: @user, url: update_icon_user_path(@user), method: :patch, local: true) do |form| %>
                      <div class="form-group">
                        <%= form.label :image, "アイコン" %>
                        <%= form.file_field :image, class: "form-control-file" %>
                      </div>
                      <%= form.submit "アイコンをアップデート", class: "btn btn-primary" %>
                    <% end %>
            
                    <%= link_to 'メール・パスワードの編集', edit_user_registration_path, class: "btn btn-secondary mt-2" %>
            
                  <% else %>
                    <p><strong>Follows:</strong> <%= @user.follower_users.count %></p>
                    <p><strong>Followers:</strong> <%= @user.following_users.count %></p>
                    <% if current_user && current_user.following?(@user) %>
                      <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
                    <% elsif current_user %>
                      <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <!-- 2つ目のカード -->
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  googleカレンダーを実装予定
                </div>
              </div>
            </div>
          </div>

          <!-- 下の行 -->
          <div class="row">
            <!-- 3つ目のカード -->
            <div class="col-md-6 mb-3">
              <div class="card h-100">
                  <div class="card-header">
                    現在参加しているイベント
                  </div>
                  <ul class="list-group list-group-flush">
                    <% @user.event_favorites.each do |favorite| %>
                      <li class="list-group-item"><%= link_to favorite.event.name, favorite.event %></li>
                    <% end %>
                  </ul>
              </div>
            </div>

            <!-- 4つ目のカード -->
            <!--<div class="col-md-6 mb-3">-->
            <!--  <div class="card h-100">-->
            <!--    <div class="card-body">-->
                  <!-- ここに4つ目のカードの内容を追加 -->
            <!--    </div>-->
            <!--  </div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
