<div class="container">

  <div class="text-center">
    <h1>イベント確認画面</h1>
  </div>

  <div class="mx-auto col-lg-8 col-md-10">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @event.representative %></h5>
        <p class="card-text"><strong>開催地：</strong><%= @event.location %></p>
        <p class="card-text"><strong>代表者名：</strong><%= @event.name %></p>
        <p class="card-text"><strong>開始日時：</strong><%= @event.start_time %></p>
        <p class="card-text"><strong>終了日時：</strong><%= @event.end_time %></p>
        <p class="card-text"><strong>主要商品：</strong><%= @event.main_products %></p>
        <p class="card-text"><strong>上限人数：</strong><%= @event.max_participants %></p>
        <p class="card-text"><strong>詳細な説明：</strong><%= @event.description %></p>
      </div>
    </div>
  </div>

  <div class="mx-auto col-lg-8 col-md-10 mb-4">
    <%= form_with(model: @event, url: events_path) do |form| %>
      <%= form.hidden_field :representative %>
      <%= form.hidden_field :location %>
      <%= form.hidden_field :name %>
      <%= form.hidden_field :start_time %>
      <%= form.hidden_field :end_time %>
      <%= form.hidden_field :main_products %>
      <%= form.hidden_field :max_participants %>
      <%= form.hidden_field :description %>
      <%= form.submit 'イベントを作成', class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
