<!DOCTYPE html>
<html>
  <head>
    <title>Pathfinder</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/dc609b4bc1.js" crossorigin="anonymous"></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div class="wrapper">
      <div id="sidebar" class="sidebar">
        <h2>メニュー</h2>
          <ul>
            <li><a href="#section1">セクション 1</a></li>
            <li><a href="#section2">セクション 2</a></li>
            <li><a href="#section3">セクション 3</a></li>
            <li><a href="#section1">セクション 1</a></li>
            <li><a href="#section2">セクション 2</a></li>
            <li><a href="#section3">セクション 3</a></li>
            <li><a href="#section1">セクション 1</a></li>
            <li><a href="#section2">セクション 2</a></li>
            <li><a href="#section3">セクション 3</a></li>
          </ul>
      </div>
      <div id="content">
        <header>
          <nav class="navbar navbar-light" style="background-color: #90ee90;">
            <div class="container-fluid">
              <% if controller.controller_name == 'users' && controller.action_name == 'index' %>
                <%= button_to "お知らせ", users_path, method: :get, class: 'btn btn-link navbar-brand', id: 'sidebarToggle' %>
              <% end %>
              <a class="navbar-brand" href="/">Pathfinder</a>
              <ul class="navbar-nav ml-auto flex-row">
                
                <% if current_user != nil && current_user.admin? %>
                  <li class="nav-item mr-3">
                    <%= link_to '管理者', admin_users_path, class: 'nav-link text-dark' %>
                  </li>
                <% end %>
                
                <% if user_signed_in? %>
                  <li class="nav-item mr-3">
                    <%= link_to destroy_user_session_path, method: :delete, data: { confirm: '本当にログアウトしますか？' }, class: 'nav-link text-dark' do %>
                      ログアウト<i class="fas fa-sign-out-alt"></i>
                    <% end %>
                  </li>
                  
                  <li class="nav-item mr-3">
                    <%= link_to user_path(current_user), class: 'nav-link text-dark mr-2' do %>
                      マイページ <i class="far fa-user"></i>
                    <% end %>
                  </li>
                  
                <% else %>
                  <li class="nav-item mr-3">
                    <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                      ログイン<i class="fas fa-sign-in-alt"></i>
                    <% end %>  
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                      新規登録<i class="fas fa-plus"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </header>
     </div>
  </div>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info flash_messages") %>
      <% end %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </body>
</html>
